{% extends 'template.html'%}

{% block body %}

<div class="form-container">
    <div class="form-container">
        <form method="POST" action="/" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <label class="form-label">What should I wear...</label>
            {{ form.user_input(class="form-input") }}
            <br>
            <label class="form-label">Focal item:</label>
            {{ form.item(class="form-input") }}
            <br>
            <label class="form-label">Wardrobe data:</label>
            {{ form.json_file(class="form-input") }}
            <br>
            <input class="form-submit" type="submit" value="Get Advice">
        </form>
        <div class="center-container">
            <a href="{{ url_for('static', filename='example_wardrobe.json') }}" download class="download-link">Download
                example wardrobe json</a>
        </div>
    </div>
</div>

{% endblock %}