{% extends 'template.html'%}

{% block body %}

<div class="form-container">
    <form method="POST" action="/" enctype="multipart/form-data">
        <label class="form-label" for="user_input">What should I wear...</label>
        <input class="form-input" type="text" name="user_input" id="user_input" placeholder="Enter your prompt here"
               required>
        <br>
        <label class="form-label" for="item">Focal item:</label>
        <input class="form-input" type="text" name="item" id="item" placeholder="Enter an optional focal item">
        <br>
        <label class="form-label" for="json_file">Wardrobe data:</label>
        <input class="form-input" type="file" name="json_file" id="json_file" accept=".json">
        <br>
        <input class="form-submit" type="submit" value="Get Advice">
    </form>
    <div class="center-container">
        <a href="{{ url_for('static', filename='example_wardrobe.json') }}" download class="download-link">Download
            example wardrobe json</a>
    </div>
</div>

{% endblock %}